<app-header>

</app-header>






<div class="side-bar mt-5 mb-5">

  <div class="side-element1 border-bottom border-2 py-3 px-1">

    <a class="fs-4 me-3 fw-medium">المخزن</a>

  </div>

    <div class="side-element-r border-bottom border-2 py-3 px-1">

    <a href="/ameen2" class="fs-4 me-3 fw-medium">دفتر اليومية</a>

  </div>

  <div class="side-element-r border-bottom border-2 py-3 px-1">

    <a href="/ameen3" class="fs-4 me-3 fw-medium">أذونات الصرف</a>

  </div>

</div>





<app-footer>
</app-footer>


