.vh-100 {
    min-height: 100vh;
}

.auth-card {
    max-width: 600px;

    border: none;
    border-radius: 8px;
}

/* Customizing the Input Group to align with the image design */
.input-group .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    text-align: right;
    padding-left: 10px; /* Space for icon */
    padding-right: 10px; /* Space for text */
}

.input-group-text {

    border: 1px solid #ced4da;
    border-right: none;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    color: #888;
}

/* Customizing Radio Button Groups */
.form-check-input {
    margin-right: -1.5rem; /* Move the radio button to the right for RTL alignment */
    margin-left: 0.5em; /* Add space between radio and text */
}

.form-check-label {
    font-size: 0.9rem;
    color: #555;
}

/* Customizing the Submit Button */
.submit-button {
    background-color:var(--primary-color);
    border-color: #004d99;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.submit-button:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Specific group alignment corrections */
.role-selection,
.college-selection {
    /* Ensures the radio button groups align properly to the right */
    width: 100%;
    margin-right: 0;
}
