<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الدعم الفني - نظام المخازن</title>

    <link rel="stylesheet" href="elda3m.component.css">
</head>

<body>

<section class="container">

    <h2>مسؤول الدعم الفني للنظام بالجامعة</h2>
    <p class="info-text">نحن هنا لمساعدتك في أي مشكلة أو استفسار يخص نظام مخازن الجامعة</p>

    <div class="contact-info">
        <p>يرجى التواصل معنا مباشرة:</p>
        <p class="email">support@university-warehouse.edu.eg</p>
        <p class="phone">  <i class="fa-light fa-phone"></i> 1234 </p>
    </div>

    <div class="btn">إرسال طلب دعم</div>

    <div class="form-box">

        <div class="row">
            <input type="text" placeholder="الاسم بالكامل">
            <input type="email" placeholder="البريد الإلكتروني الجامعي">
        </div>

        <div class="row">
            <select>
                <option>الكلية / الجهة</option>
            </select>

            <select>
                <option>نوع المشكلة</option>
            </select>
        </div>

        <textarea placeholder="وصف المشكلة"></textarea>

        <button class="btn-main">إرسال طلب</button>
    </div>

</section>


</body>
</html>

