
:root {

    /*colors*/

  --primary-color:#084667;
  --secondary-color:#1693B3;
  --third-color:#F9B938;
  --grey-color:#A5A5A5;
  --black--color:#000000;
  --white--color:#FFFFFF;

  /*fonts*/
  --font-arabic: "Tajawal", sans-serif;


}
